<!DOCTYPE html>
<html>
    <head>
        <title>about us</title>
        <link rel='icon' href="img/pic.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>{{help}} </p>
 <img class="img" src="img/sai.jpg">
 </div>
       <b><font color=red> {{>footer}}
           </font></b>
          
    </body>
</html>