<!DOCTYPE html>
<html>
    <head>
        <title>help
        </title>
        <link rel='icon' href="img/pic.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>provided by {{name}}</p>
        </div>
      <font color=green>{{>footer}}
    </body>
</html>