<!DOCTYPE html>
<html>
    <head>
        <link rel='icon' href="img/pic.png">
        <title>page404</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p><b><font color=green size=6>{{text}} </p>
      </div><font color=green>{{>footer}}</font>
    </body>
</html>